
#totalbody
{
    margin-bottom:1.5rem;
}
    .navbar
    {
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        text-align: center;   
    }
    .navigation
    {
        margin-top:4rem;
        display:flex;
        flex-direction: row;
        gap:15rem;
        justify-content: space-evenly;
    }
*{
    padding:0;
    margin:0;
}
#theme
    {
padding:10px;
border:1px black;
background-color:grey;
color:black;
border-radius: 22px;
width:50px;
cursor:pointer;
}

#theme:hover{
color:white;
background-color:grey;
}

    #theme:active{
background: linear-gradient(green,yellow);
    }
#navbaroptions
{
    display:flex;
    list-style-type: none;
    justify-content:space-evenly;
    gap:4rem;
    align-items: center;
    text-align: center;
}
li a{
    text-decoration: none;
    color:red;
    font-size: 19px;
    text-shadow:12px 12px 12px grey;
}
li a:hover{
    text-decoration: underline blue;
    text-underline-offset: 1.5rem;
}

.logo
{
    font-size: 33px;
    text-shadow: 10px 10px 10px grey;
    font-weight: 600;

}


.content_body
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:2rem;
    margin-top:100px;
    align-items: center;
    text-align: center;
}


.allinfo
{
    display:flex;
    flex-direction: column;
    margin-right:40px;
    height:500px;
    align-items: center;
    text-align: center;
    margin-left:1rem;
   box-sizing: border-box;
    padding:20px;

}

#hello{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
      }
#myname
{
    font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
  text-shadow: 10px 10px 10px grey;
  margin-top:1.2rem;
  font-size:44px;
}
.info
{
    margin-top:1.5rem;
}
.info button
{
    padding:20px;
    border:none;
    box-shadow: 12px 12px 12px grey;
    color:blue;
    border-radius: 22px;
}

#sweetdesc
{
    margin-top:2rem;
    margin-bottom:2rem;
}


.imgs
{
    border-radius: 50%;
    box-shadow: 12px 12px 12px grey;
    margin-left:5rem;
    height:200px;
background-color: hsl(200, 100, 50);
    padding:20px;
}
#describingcontent
{
    color:black;
    text-shadow: 12px 12px 12px grey;
}
#aboutme,#qualification,#project
{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
 box-shadow:12px 12px 12px grey;
 border-radius: 22px;
 border:1px dotted green;
    width:89%;
    margin-left:4%;
    margin-top:10rem;
    padding:15px;
}
#contact
{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
 box-shadow:12px 12px 12px grey;
 border-radius: 22px;
 border:1px dotted green;
    width:60%;
    margin-left:18%;
    margin-top:10rem;
    padding:20px;
}
.education
{
    display:flex;
    flex-direction: row;
    gap:15rem;
    padding:5px;
    border-radius: 22px;
    color:blue;
}
#qualification1,#qualification2
{
    padding:20px;
    text-align: center;
    justify-content: center;
    border-radius: 22px;
    width:500px;
    box-shadow:12px 12px 12px white;

}
.innerqualification
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  margin-top:2rem;
  color:blue;
  border-radius:22px;
  border:1px solid black;
  padding:10px;

}
.innerqualification img
{
    border-radius: 17px;
    height:100px;
    align-items: center;
    display: flex;
}
#project
{
    margin-top:5rem;
    padding:20px;
  display:flex;
  flex-direction: column;
  border:1px solid white;
  box-shadow:none;
  border:1px solid black;
}

#project img{
    padding:20px;
    width:500px;
    height:200px;
}
.project1
{
    display:flex;
    border:1px solid grey;
    margin-top:2rem;
    border-radius: 22px;
    flex-direction: row;

}
#skills
{
    display:flex;
    flex-direction: column;
    border:1px solid grey;
  border-radius: 22px;
  margin-top:1.5rem;
}
.insideprojects
{
    padding:15px;
    margin-top:1.5rem;
 


}
#insidebuttons
{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    margin-top:1.5rem;
}
#github,#visitme
{
    padding:10px;
    border-radius: 22px;
    border:none;
    width:100px;
    box-shadow: 12px 12px 12px white;
    cursor:pointer;
    font-size: 14px;
    font-weight: bold;
    color:black;
    background: linear-gradient(white,grey);
}
#previous,#next
{
    padding:18px;
    font-size: 20px;
 border:none;
 width:70px;
 border-radius: 22px;
}
.aboutproject
{
    display:flex;
    flex-direction: column;
    gap:5rem;
   color:green;
   text-shadow: 12px 12px 12px white;
    padding:30px;
}
.details
{
    display:flex;
  flex-direction: column;
  margin-bottom:10px;
}
#links
{
    color:blueviolet;
    font-size: 15px;
    font-weight: 200px;
    font-family: serif;
}
#describingcontent
{
    border:1px solid black;
    box-sizing: border-box;
    border-radius: 22px;
    box-shadow: 12px 12px 12px grey;
    width:350px;
    padding:10px;
    font-size: 18px;
    text-shadow: none;
    font-weight: 100;
    font-family: serif;
    color:green;
}
.btns
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:1.5rem;
    padding:10px;
}
.options1
{
    display:flex;
    flex-direction: column;
    margin:1.5rem;
    border:1px solid green;
}
.describeshortly
{
    padding:10px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    margin-top:2rem;
}
.project2
{
    display:flex;
    border:1px solid black;
margin-top:3rem;
}
.project3
{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    width:800px;
    align-items: center;
    justify-content: center;
    margin-top:1.5rem;
    box-shadow: 12px 12px 12px white;
    border:1px dotted blue;
    
}
html{
    scroll-behavior: smooth;
}

@media all and (width<=1133px) {
   #navbaroptions{
        display:flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .info{
  margin:none;
    }
    #theme
    {
        display:none;
    }
    .logo{
        display:none;
    }
    .content_body
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    #totalbody
    {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgs
    {
      width:150px;
     display:flex;
      justify-content: center;
      margin-left:3%;
    }
    #aboutme,#project
    {
        box-sizing: border-box;
        width:300px;
        height:50%;
        border:none;
        display:flex;
        flex-direction: column;
    }
    .info{
        display:none;
    }
    #qualification
    {
        width:280px;
      color:blue;
    }
    .education
    {
        display:flex;
        flex-direction: column;
        width:280px;
        color:BLUE;
    }
    .innerqualification img
    {
        width:200px;
    }
    #qualification1,#qualification2
    {
        width:220px;
        box-shadow: none;
        color:GREEN;
    }
  
  #insidebuttons
  {
display:flex;
flex-direction: column;
gap:2rem;
align-items: center;
justify-content: center;
  }
  .project1{
   
display:none;
  }
  .project1 img
  {
  
 display:block;
  }
  .logo{
    display:none;
  }
#contact
{
    width:250px;
    margin-left:7%;
}
#sweetdesc
{
    box-sizing: border-box;
    visibility: hidden;
}
.project2{
    display:flex;
    flex-direction: column;
    border:none;
}
#describingcontent
{
    width:300px;
    margin-right:1.5rem;
}
.describeshortly
{
    width:100px;
    text-align: center;
    display:flex;
    justify-content: center;
    visibility: hidden;
}
}




